.layout {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-200px, -150px);
  padding: 24px;
  border-radius: 32px;
}

.title {
  text-align: center;
  margin-bottom: 24px;
}

.input_label {
  width: 55px;
}

.btns {
  width: 100%;
  justify-content: center;
}